{% extends "core/base.html" %} 
{% load static %}

{% block content %}
<!-- about section -->
<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="{% static 'core/images/about-img.jpg' %}" alt="" /> 
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <p> Detalles de la <b>cita</b> enviado: <code>{{object.created_at}}</code></p>
            <b>{{object.phone_number}}</b>
            <h2>{{object.full_name}}<span> | {{object.doctor}} - {{object.department}}</span></h2>
          </div>
          <p>
            {{object.symptoms}}
          </p>
          <a href="{% url 'appointment-delete' object.id %}">Borrar</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
