{% extends "core/base.html" %}

{% load static %}
{% block content %}
 <!-- slider section -->
 <section class="slider_section ">
  <div class="dot_design">
    <img src="{% static 'core/images/dots.png' %}" alt=""> 
  </div>
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container ">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <div class="play_btn">
                  <button>
                    <i class="fa fa-play" aria-hidden="true"></i>
                  </button>
                </div>
                <h1>
                  Vitaliza <br>
                  <span>
                    Hospital
                  </span>
                </h1>
                <p>
                  when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                </p>
                <a href="{% url 'contact' %}">
                  Contact Us
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img src="{% static 'core/images/slider-img.jpg' %}" alt=""> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- end slider section -->
</div>


<!-- book section -->

<section class="book_section layout_padding">
<div class="container">
  <div class="row">
    <div class="col">
      {% load appointment_form %} {% appointment_form %}
    </div>
  </div>
</div>
</section>


<!-- end book section -->


<!-- about section -->

<section class="about_section">
  {% for about in about_us %}
<div class="container  ">
  <div class="row">
    <div class="col-md-6 ">
      <div class="img-box">
        <img src="{% static 'core/images/about-img.jpg' %}" alt=""> 
      </div>
    </div>
    <div class="col-md-6">
      <div class="detail-box">
        <div class="heading_container">
          <h2>
            {{about.title}} - <span>Vitaliza</span>
          </h2>
        </div>
        <p>
          {{about.content|striptags|safe|truncatechars:"200"}}
        </p>
        <a href="{% url 'about-detail' about.id %}">
          Leer más
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</section>

<!-- end about section -->


<!-- treatment section -->

<section class="treatment_section layout_padding">
<div class="side_img">
  <img src="{% static 'core/images/treatment-side-img.jpg' %}" alt=""> 
</div>
<div class="container">
  <div class="heading_container heading_center">
    <h2>
      Hospital <span>Treatment</span>
    </h2>
  </div>
  <div class="row">
    {% for treatment in treatments %}
    <div class="col-md-6 col-lg-3">
      <div class="box ">
        <div class="img-box">
          <img src="{{treatment.image.url}}" alt=""> 
        </div>
        <div class="detail-box">
          <h4>
             {{treatment.title}}
          </h4>
          <a href="{% url 'treatment-detail' treatment.id %}">
            Leer más
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</section>

<!-- end treatment section -->

<!-- team section -->

<section class="team_section layout_padding">
<div class="container">
  <div class="heading_container heading_center">
    <h2>
      Our <span>Doctors</span>
    </h2>
  </div>
  <div class="carousel-wrap ">
    <div class="owl-carousel team_carousel">
      {% load show_doctors %} {% get_doctor as doctors %}
      {% for doctor in doctors %}
      <div class="item">
        <div class="box">
          <div class="img-box">
            <img src="{{doctor.image.url}}" alt="" /> 
          </div>
          <div class="detail-box">
            <h5>
              {{doctor.doctor_name}}
            </h5>
            <h6>
              MBBS
            </h6>
            <div class="social_box">
              <a href="{{doctor.facebook}}">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="{{doctor.twitter}}">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="{{doctor.instagram}}">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</section>
<!-- end team section -->
{% endblock content %}
   

  