{% extends "core/base.html" %} 
{% load static %}

{% block content %}
<!-- about section -->
<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="{% static 'core/images/about-img.jpg' %}" alt="" /> 
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <img src="{{object.image.url}}" alt="" /> 
            <h2 class="mt-3">{{object.title}}<span></h2>
          </div>
          <p>
            {{object.content}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
