{% extends "core/base.html" %} {% load static %} 
{% block content %}
<!-- contact section -->
<section class="contact_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container mt-5">
      <h2>Déjanos un mensaje</h2>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="form_container">
          {% if request.user.is_authenticated %} 
          {% load contact_form %} {% contact_form %} 
          {% else %}
          <form method="post">
            {% csrf_token %}
            <div class="btn_box">
              <h4>Para enviar un mensaje, tiene que autenticarse.</h4>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
      <div class="col-md-5">
        <div class="img-box">
          <img src="{% static 'core/images/contact-img.jpg' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->
{% endblock content %}
