{% extends "core/base.html" %} 
{% load static %}

{% block content %}
<!-- about section -->
<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="{% static 'core/images/about-img.jpg' %}" alt="" /> 
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>{{object.title}}</h2>
          </div>
          <p>
            {{object.content|linebreaksbr}}
          </p>
          {% if request.user.is_staff %}
          <a href="{% url 'about-update' object.id %}">
            Actualizar
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
